:root{
    --red:#EA5454;
    --cyan:#44D3D2;
    --orange:#FCAE4A;
    --blue:#549EF2;
    --gray:#4D4F62;

    --white:#FAFAFA;
    --Navy: rgba(131, 166, 210, .5);
    --GrayBlue: #979797;
    --LGray: hsl(0, 0%, 98%);

    --font:Poppins;
}

*{box-sizing: border-box;
margin:0;
padding:0;
color:var(--gray);
font-family: var(--font);
font-size:15px;}

body{background-color: var(--white);
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    height:100vh;

}
/* For Screens Smaller than 1200px */

.container{display:grid;
    grid-template-columns: 1fr;
       width: 311px;
    gap:20px;
    padding-top: 10vh;
    padding-bottom: 20px;
    
}

.header{
    display:grid;
    grid-template-rows: auto auto 1fr;
justify-content: center;
text-align: center;
padding-bottom: 40px;
}

    .header h1{font-weight:200;
        font-size:36px;
        
        letter-spacing: .17px;
            }
    .header h2{font-weight:600;
        font-size:36px;
        letter-spacing: .17px;}

    .header p{font-weight:400;
    opacity: 50%;
letter-spacing: .1px;
line-height: 25px;
padding-bottom: 20px;
}

.supervisor, .team, .karma, .calculator {display:grid;
    grid-template-rows: auto auto auto;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px var(--Navy);
        }
    .supervisor{border-top: solid 4px var(--cyan); }
    .team{border-top: solid 4px var(--red); }
    .karma{border-top: solid 4px var(--orange); }
    .calculator{border-top: solid 4px var(--blue); }

.card-header {font-weight:600;
        font-size: 20px;
        padding-bottom: 15px;
    }
 .card-content {
        font-size: 13px;
        opacity: 50%;
        letter-spacing: .09px;
        padding-bottom: 40px;
    }
    img{width: 57px;
    height:57px;
        justify-self: end;
    }

        /* For Desktop Screens 1200px and larger */
   /* For Desktop Screens 1200px and larger */
   @media screen and (min-width:1200px){.container{display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header'
         ' . team . ' 
         'supervisor team calculator'
          'supervisor karma calculator'
          ' . karma . ';
    width: 1110px;
    
    gap:0;
    
        }}
    @media screen and (min-width:1200px) {.header{grid-area: header;
            grid-row:1;}
    .header p{padding-left:20%;
            padding-right:20%;}}


@media screen and (min-width:1200px) {.team{grid-area: team; 
margin-bottom:20px;}}
@media screen and (min-width:1200px) {.supervisor{grid-area:supervisor;}}
@media screen and (min-width:1200px) {.karma{grid-area:karma;}}
@media screen and (min-width:1200px) {.calculator{grid-area: calculator;}}
@media screen and (min-width:1200px) {.supervisor, .team, .karma, .calculator{width:350px;}}